<div>
	<h2>Contact</h2>
	<p>
		I would love to hear about your project and how I could help. Please fill in the form, and I’ll
		get back to you as soon as possible.
	</p>
</div>

<a href="">Send message</a>

<div class="flex justify-between sm:block">
	<div class="sm:block">
		<a class="text-3xl font-bold tracking-tight text-White">adamkeyes</a>
	</div>
	<nav class="sm:block">
		<ul class="flex gap-10">
			<li>
				<a href="#">
					<img src="/images/icon-github.svg" alt=" icon-github" />
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/images/icon-frontend-mentor.svg" alt="icon-frontend-mentor" />
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/images/icon-linkedin.svg" alt="icon-linkedin" />
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/images/icon-twitter.svg" alt="icon-twitter" />
				</a>
			</li>
		</ul>
	</nav>
</div>
