<header>
	<div class="flex justify-between sm:block sm:text-center">
		<div class="sm:block">
			<a class="sm: text-2xl text-3xl font-bold tracking-tight sm:text-2xl">adamkeyes</a>
		</div>
		<nav class="sm:ml-32 sm:mt-6 sm:block">
			<ul class="flex gap-10">
				<li>
					<a href="#">
						<img src="/images/icon-github.svg" alt=" icon-github" />
					</a>
				</li>
				<li>
					<a href="#">
						<img src="/images/icon-frontend-mentor.svg" alt="icon-frontend-mentor" />
					</a>
				</li>
				<li>
					<a href="#">
						<img src="/images/icon-linkedin.svg" alt="icon-linkedin" />
					</a>
				</li>
				<li>
					<a href="#">
						<img src="/images/icon-twitter.svg" alt="icon-twitter" />
					</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
