<header>
	<div class="flex items-center justify-between mobile:flex-col">
		<div class="mobile:text-center">
			<a class="text-3xl font-bold tracking-normal mobile:text-2xl">adamkeyes</a>
		</div>
		<nav class="mobile:mt-6">
			<ul class="flex gap-8">
				<li>
					<a href="#">
						<img src="/images/icon-github.svg" alt=" icon-github" />
					</a>
				</li>
				<li>
					<a href="#">
						<img src="/images/icon-frontend-mentor.svg" alt="icon-frontend-mentor" />
					</a>
				</li>
				<li>
					<a href="#">
						<img src="/images/icon-linkedin.svg" alt="icon-linkedin" />
					</a>
				</li>
				<li>
					<a href="#">
						<img src="/images/icon-twitter.svg" alt="icon-twitter" />
					</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
