---
import { Button } from '@/components/ui/button'
---

<section>
	<h1>Nice to meet you! I'm Adam Keyes.</h1>

	<p>
		Based in the UK, I'm a front-end developer passionate about building accessible web apps that
		users love.
	</p>

	<div>
		<a href="#">Cotact Me</a>
	</div>
</section>
