<section>
	<h2>Projects</h2>
	<div><a href="#">Contact me</a></div>
	<div>
		<h2>Design portfolio</h2>
		<div>
			<p>HTML</p>
			<p>CSS</p>
		</div>
		<div>
			<a href="">View project</a>
			<a href="">View code</a>
		</div>
	</div>
	<div>
		<h2>E-learning landing page</h2>
		<div>
			<p>HTML</p>
			<p>CSS</p>
		</div>
		<div>
			<a href="">View project</a>
			<a href="">View code</a>
		</div>
	</div>
	<div>
		<h2>Todo web app</h2>
		<div>
			<p>HTML</p>
			<p>CSS</p><p>JavaScript</p>
		</div>
		<div>
			<a href="">View project</a>
			<a href="">View code</a>
		</div>
	</div>
	<div>
		<h2>Entertainment web app</h2>
		<div>
			<p>HTML</p>
			<p>CSS</p><p>JavaScript</p>
		</div>
		<div>
			<a href="">View project</a>
			<a href="">View code</a>
		</div>
	</div>
	<div>
		<h2>Memory Game</h2>
		<div>
			<p>HTML</p>
			<p>CSS</p><p>JavaScript</p>
		</div>
		<div>
			<a href="">View project</a>
			<a href="">View code</a>
		</div>
	</div>
	<div>
		<h2>Art gallery showcase</h2>
		<div>
			<p>HTML</p>
			<p>CSS</p><p>JavaScript</p>
		</div>
		<div>
			<a href="">View project</a>
			<a href="">View code</a>
		</div>
	</div>
</section>
